<nav class="navbar navbar-expand-lg sticky-top shadow-sm bg-white">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Ecommerce Items</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item ms-3">
          <a
            class="nav-link active position-relative"
            aria-current="page"
            routerLink="cart"
          >
            <i class="bi bi-cart-fill"></i>
            <span
              class="position-absolute top-2 right-2 start-100 translate-middle badge rounded-pill bg-warning"
            >
              {{ totalProduct$ | async }}
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            <i class="bi bi-person-circle"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
