<div class="card position-fixed bottom-0 border-0 shadow floating-cart">
  <div
    class="card-title bg-light overflow-hidden rounded border-bottom-1 p-2 d-flex align-items-center justify-content-between"
  >
    <h6>Cart - {{ quantity$ | async }} Products</h6>
    <div class="controls">
      <button class="btn btn-sm">
        <i class="bi bi-dash"></i>
      </button>
      <button class="btn btn-sm">
        <i class="bi bi-x"></i>
      </button>
    </div>
  </div>
  <div class="card-body p-2 cartItems">
    <div
      class="shadow-sm bg-white mb-3 d-flex overflow-hidden rounded"
      *ngFor="let item of cartProducts$ | async"
    >
      <div class="img-thumb">
        <img [src]="item.thumbnail" alt="loading..." width="100%" />
      </div>
      <div class="ms-3 p-3">
        <h5>{{ item.title }}</h5>
        <p class="mb-0">{{ item.description }}</p>
        <p class="mb-0">
          Price: <strong>${{ item.price }}</strong>
        </p>
        <p class="mb-0">Quantity: {{ item.quantity }}</p>
      </div>
    </div>
  </div>
  <div
    *ngIf="quantity$ | async as quantity"
    class="shadow-sm bg-light d-flex align-items-center p-3 justify-content-between"
  >
    <div class="total">Total</div>
    <div class="totalAmout">${{ totalAmount$ | async }}</div>
  </div>
</div>
